<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="iot.cloud.platform.lock.mapper.ConfigMapper">
    <select id="getConfigByK" resultType="iot.cloud.platform.lock.entity.ConfigEntity">
        SELECT * FROM config WHERE k = #{k}
    </select>
</mapper>
