<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="iot.cloud.platform.lock.mapper.PwdMapper">
    <select id="getPwd" resultType="iot.cloud.platform.lock.entity.PwdEntity">
        <!-- 请自行完成SQL的编写 -->
        select * from pwd where pwd = #{pwd}
    </select>
    <select id="updatePwd" resultType="iot.cloud.platform.lock.entity.PwdEntity">
        <!-- 请自行完成SQL的编写 -->
        update pwd set pwd = #{nPwd} where pwd = #{oPwd}
    </select>
    <!--    <select id="addTempPwd" resultType="iot.cloud.platform.lock.entity.PwdEntity">-->
    <!--        &lt;!&ndash; 请自行完成SQL的编写 &ndash;&gt;-->
    <!--        insert into pwd (pwd, expired_time) values (#{pwd},#{expiredTime})-->
    <!--    </select>-->

</mapper>
