<link rel="stylesheet" type="text/css" href="static/fonts/fontawesome/css/font-awesome.min.css">
<div>
    <nav class="navbar navbar-expand-md navbar-dark bg-secondary">
        <div class="container">
            <a class="navbar-brand abs" href="/"><i class="fa fa-lock" aria-hidden="true"></i>&nbsp;智能锁</a>
            <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="collapseNavbar">
                <ul class="navbar-nav">
                </ul>
            </div>
        </div>
    </nav>
</div>